<div class="content-wrapper">
  <div class="container-fluid">

    <div class="panel panel-primary ">
      <div class="panel-heading" style="height: 50px;">
        <div class="col-sm-6 p-1">
          <h4>Add User</h4>
        </div>
      </div>

      <div class="col-sm-12" *ngIf="form.error" class="alert alert-danger"> {{form.message}}</div>
      <div class="col-sm-12" *ngIf="!form.error && form.message != null" class="alert alert-success"> {{form.message}}</div>

      <form>

        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">Role Name:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <select class="form-control" name="roleId" [(ngModel)]="form.data.roleId" style="cursor: pointer;">
              <option *ngFor="let obj of form.preload.roleList" [value]="obj.key">{{obj.value}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">First Name:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="text" name="fn" [(ngModel)]="form.data.firstName" class="form-control" placeholder="Enter First Name">
            <span class="alertRedColor"> {{form.inputerror.firstName}} </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">Last Name:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="text" name="ln" [(ngModel)]="form.data.lastName" class="form-control" placeholder="Enter Last Name">
            <span class="alertRedColor"> {{form.inputerror.lastName}} </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">login Id:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="text" name="loginId" [(ngModel)]="form.data.loginId" class="form-control" placeholder="Enter Login Id">
            <span class="alertRedColor"> {{form.inputerror.state}} </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">Password:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="text" name="pwd" [(ngModel)]="form.data.password" class="form-control" placeholder="Enter Password">
            <span class="alertRedColor"> {{form.inputerror.phoneNo}} </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">Gender:
          </label>
          <div class="col-sm-3">
            <select class="form-control" name="gender" [(ngModel)]="form.data.gender" id="gender" style="cursor: pointer;">
              <option [value]="M">Male </option>
              <option [value]="F">Female </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="default" class="col-sm-2 control-label ">Status:
          </label>
          <div class="col-sm-3">
            <select class="form-control" name="status" [(ngModel)]="form.data.status" style="cursor: pointer;">
              <option [value]="Active">Active </option>
              <option [value]="Inactive">Inactive </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col-sm-1">
            <button (click)="submit()" [disabled]="!validate()" class="btn btn-success mr-2">
              Save</button>
          </div>
          <div class="col-sm-1">
            <button (click)="forward('/userlist')" type="button" class="btn btn-primary mr-1">List
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>