<div class="content-wrapper">
  <div class="container-fluid">

    <div class="panel panel-primary">
      <div class="panel-heading" style="height: 50px;">
        <div class="col-sm-6 p-1">
          <h4>Message List</h4>
        </div>
      </div>

      <div class="row p-1">
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.code" placeholder="Search Code">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.subject" placeholder="Search Subject">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.body" placeholder="Search Body">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.status" placeholder="Search Status">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.html" placeholder="Search Html">
        </div>
        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">
            Search</button>
        </div>
      </div>

      <div class="row p-1">
        <div class="col-lg-1">
          <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info"> Previous </button>
        </div>
        <div class="col-lg-1">
          <button (click)="next()" class="btn btn-info"> Next </button>
        </div>
        <div class="col-lg-2">
          <button (click)="forward('/message')" type="button" class="btn btn-success">Add Message
          </button>
        </div>
      </div>

      <div class="col-sm-12" *ngIf="form.error" class="alert alert-danger"> {{form.message}}</div>
      <div class="col-sm-12" *ngIf="form.error == false && form.message != null" class="alert alert-success"> {{form.message}}</div>

      <div class="p-1">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead class="thead-light text-uppercase">
              <tr>
                <th>S.No</th>
                <th>Code</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Type</th>
                <th>Status</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of form.list; let i = index">
                <td> {{(form.pageNo*5)+i+ 1}} </td>
                <td> {{ m.code }} </td>
                <td> {{ m.subject }} </td>
                <td> {{ m.body }} </td>
                <td> {{ m.type }} </td>
                <td> {{ m.status }} </td>
                <td>
                  <a (click)="forward( '/message/' +  m.id)" style="cursor: pointer;">
                    <i class="fa fa-edit"></i>
                  </a>
                  /
                  <a (click)="delete(m.id)" style="cursor: pointer;">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>