  <div>
      <H1>Student List</H1>
    
      <div *ngIf="form.error" style="color:red;"> {{form.message}}</div>
      <div *ngIf="form.error == false" style="color:green;"> {{form.message}}</div>
    
      <form>
    
        Type
     
        College : <input name="code" type="text" [(ngModel)]="form.searchParams.collegeId">
    
        First Name: <input name="firstName" type="text" [(ngModel)]="form.searchParams.firstName">
    
        Last Name: <input name="lastName" type="text" [(ngModel)]="form.searchParams.lastName">
    
        Email: <input name="email" type="text" [(ngModel)]="form.searchParams.email">
    
        Mobile: <input name="mobileNo" type="text" [(ngModel)]="form.searchParams.mobileNo">
    
        <button (click)="submit()"> Search </button>
    
        <hr>
    
        <button (click)="previous()" [disabled]="form.pageNo == 0"  > Previous </button> 
        <button (click)="next()"> Next </button>
        <button (click)="forward('/student')"> New </button>
    
      </form>
    
      <table border="1" width='100%'>
        <tr>
          <th>ID</th>
          <th>College</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Mobile</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let m of form.list ">
          <td> {{ m.id }} </td>
          <td> {{ m.collegeId }} </td>
          <td> {{ m.firstName }} </td>
          <td> {{ m.lastName }} </td>
          <td> {{ m.mobileNo }} </td>
          <td> {{ m.email }} </td>
          <td> <button (click)="forward( '/student/' +  m.id)">Edit</button> </td>
          <td> <button (click)="delete(m.id)">Delete</button> </td>
        </tr>
      </table>
    </div>