<!-- Account form displayed in ng-view-->
<DIV align="center">

	<H1>College List</H1>

	<FORM name="frm" >

		<p style="color: green" ng-bind="form.searchMessage"></p>

		<br> Code : <INPUT TYPE="text"
			ng-model="form.searchParams.code"> &nbsp;&nbsp;
		<button ng-click="search()">Search</button>
		<br>
		<td><button ng-click="forward('/message')">New</button></td>
		<td><button ng-click="previous()">Previous</button></td>
		<td><button ng-click="next()">Next</button></td>


		<table border="1">
			<tr>
				<td><input type="checkbox"></td>
				<th>ID</th>
				<th>Subject</th>
				<th>Code</th>
				<th>Type</th>
				<th>Status</th>
				<th>Message</th>
			</tr>
			<tr ng-repeat="d in form.list">
				<td><input type="checkbox" ng-model="temp[$index]"
					ng-click1="delete(d.id,temp[$index])"></td>
				<td>{{$index + 1 + (form.pageNo * form.pageSize)}}</td>
				<td>{{d.subject}}</td>
				<td>{{d.code}}</td>
				<td>{{d.type}}</td>
				<td>{{d.status}}</td>
				<td>{{d.body}}</td>
				<td><button ng-click="forward('/message/' +  d.id)">Edit</button></td>
			</tr>
			<tr>
			</tr>

		</table>
		{{form}}
		<hr>


	</FORM>
</DIV>