<div>
  <H1>Login</H1>
  <form #loginForm="ngForm">
    <span style="color: red"> {{form.message}} </span> <br>
    User ID: <input name="userId" type="text" [(ngModel)]="form.loginId">
    <span style="color: red"> {{inputerror.loginId}} </span> <br>
    Password: <input name="password" type="password" [(ngModel)]="form.password">
    <span style="color: red"> {{inputerror.password}} </span> <br>
    <button (click)="signIn()" [disabled]="!validate()"  >   Sign In</button>
    <a href="/forgotpassword"  >Forgot PAssword</a>
  </form>
</div>