<div>
  <H1>Sign Up</H1>

  <span *ngIf="form.error == 'true';then ERROR else SUCCESS"></span>
  <ng-template #ERROR>
    <span style="color: red"> {{form.message}} </span> <br>
  </ng-template>
  <ng-template #SUCCESS>
    <span style="color: green"> {{form.message}} </span> <br>
  </ng-template>

  <form>
    First Name: * <input name="firstName" type="text" [(ngModel)]="form.firstName">
    <span style="color: red"> {{inputerror.firstName}} </span> <br>

    Last Name: * <input name="lastName" type="text" [(ngModel)]="form.lastName">
    <span style="color: red"> {{inputerror.lastName}} </span> <br>

    Last Name: * <input name="login" type="text" [(ngModel)]="form.login">
    <span style="color: red"> {{inputerror.login}} </span> <br>

    PAssword: * <input name="password" type="text" [(ngModel)]="form.password">
    <span style="color: red"> {{inputerror.password}} </span> <br>

    <button (click)="submit()" [disabled]="!validate()">Sign Up</button>
  
  </form>
</div>