<H1>Marksheet</H1>

<div *ngIf="form.error" style="color:red;"> {{form.message}}</div>
<div *ngIf="form.error == false" style="color:green;"> {{form.message}}</div>

<form>
  <table>
    <tr>
      <td>Roll No {{form.data.id}}</td>
      <td><input name="rollNo" [(ngModel)]="form.data.rollNo"></td>
      <span style="color: red"> {{form.inputerror.rollNo}} </span> <br>
    </tr>
    <tr>
      <td>Stduent ID</td>
      <td>
        <select  name="studentId"  [(ngModel)]="form.data.studentId"> // value is a string or number
            <option *ngFor="let obj of form.preload.studentList" [value]="obj.id">{{obj.firstName}}</option>
        </select>      
      </td>
      <span style="color: red"> {{form.inputerror.studentId}} </span> <br>

    </tr>
    <tr>
      <td>Name</td>
      <td><input name="name" [(ngModel)]="form.data.name"></td>
      <span style="color: red"> {{form.inputerror.name}} </span> <br>
    </tr>
    <tr>
      <td>Physics</td>
      <td><input name="physics" [(ngModel)]="form.data.physics"></td>
      <span style="color: red"> {{form.inputerror.physics}} </span> <br>
    </tr>
    <tr>
      <td>Chemistry</td>
      <td><input name="chemistry" [(ngModel)]="form.data.chemistry"></td>
      <span style="color: red"> {{form.inputerror.chemistry}} </span> <br>
    </tr>
    <tr>
      <td>Maths</td>
      <td><input name="maths" [(ngModel)]="form.data.maths"></td>
      <span style="color: red"> {{form.inputerror.maths}} </span> <br>
    </tr>
    <tr>
      <td><button (click)="submit()">Save</button></td>
      <button (click)="forward('/marksheetlist')" >List</button>
    </tr>
  </table>
</form>