<div>
  <H1>Message List</H1>


  <div *ngIf="form.error" style="color:red;"> {{form.message}}</div>
  <div *ngIf="form.error == false" style="color:green;"> {{form.message}}</div>

  <form>

    Name <input name="name" type="text" [(ngModel)]="form.searchParams.name">

    RollNO <input name="rollNo" type="text" [(ngModel)]="form.searchParams.rollNo">

    <button (click)="submit()"> Search </button>
    <button (click)="forward('/marksheet')"> New </button>    

  </form>

  <table border="1" width='100%'>
    <tr>
      <th>ID</th>
      <th>RollNO</th>
      <th>Name</th>
      <th>Physics</th>
      <th>Chemistry</th>
      <th>Maths</th>
    </tr>
    <tr *ngFor="let m of form.list ">
      <td> {{ m.id }} </td>
      <td> {{ m.rollNo }} </td>
      <td> {{ m.name }} </td>
      <td> {{ m.physics }} </td>
      <td> {{ m.chemistry }} </td>
      <td> {{ m.maths }} </td>
      <td> <button (click)="forward( '/markseet/' +  m.id)">Edit</button> </td>
      <td> <button (click)="delete(m.id)">Delete</button> </td>
    </tr>
  </table>
</div>