<div class="content-wrapper">
  <div class="container-fluid">

    <div class="panel panel-primary">
      <div class="panel-heading" style="height: 50px;">
        <div class="col-sm-6 p-1">
          <h4>College List</h4>
        </div>
      </div>

      <div class="row p-1">
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.name" placeholder="Search Name">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.address" placeholder="Search Address">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.phone" placeholder="Search Phone">
        </div>

        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">
            Search</button>
        </div>
        <div class="col-lg-2">
          <button (click)="forward('/college')" type="button" class="btn btn-success">Add College
          </button>
        </div>
      </div>

      <div class="col-sm-12" *ngIf="form.error" class="alert alert-danger"> {{form.message}}</div>
      <div class="col-sm-12" *ngIf="form.error == false && form.message != null" class="alert alert-success"> {{form.message}}</div>

      <div *ngIf="form.error" style="color:red;"> {{form.message}}</div>
      <div *ngIf="form.error == false" style="color:green;"> {{form.message}}</div>

      <div class="p-1">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead class="thead-light text-uppercase">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>City</th>
                <th>State</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of form.list; let i = index">
                <td> {{(form.pageNo*5)+i+ 1}} </td>
                <td> {{ m.name }} </td>
                <td> {{ m.address }} </td>
                <td> {{ m.phoneNo }} </td>
                <td> {{ m.city }} </td>
                <td> {{ m.state }} </td>
                <td>
                  <a (click)="forward( '/college/' +  m.id)" style="cursor: pointer;">
                    <i class="fa fa-edit"></i>
                  </a>
                  /
                  <a (click)="delete(m.id)" style="cursor: pointer;">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
                <!-- <td>
                  <button (click)="forward( '/college/' +  m.id)">Edit</button>
                </td>
                <td>
                  <button (click)="delete(m.id)">Delete</button>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>