<div class="content-wrapper">
  <div class="container-fluid">

    <div class="panel panel-primary ">
      <div class="panel-heading" style="height: 50px;">
        <div class="col-sm-6 p-1">
          <h4>College List</h4>
        </div>
      </div>

      <div class="col-sm-12" *ngIf="form.error" class="alert alert-danger"> {{form.message}}</div>
      <div class="col-sm-12" *ngIf="!form.error && form.message != null" class="alert alert-success"> {{form.message}}</div>

      <form>
        <div class="form-group row">
          <label for="default" class="col-sm-1 control-label ">Name:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="text" #name='ngModel' name="name" [(ngModel)]="form.data.name" class="form-control" id="name" placeholder="Enter Name">
            <span class="alertRedColor"> {{form.inputerror.name}} </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="default" class="col-sm-1 control-label ">Address:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="text" #addr='ngModel' name="addr" [(ngModel)]="form.data.address" class="form-control" id="addr" placeholder="Enter Address">
            <span class="alertRedColor"> {{form.inputerror.address}} </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="default" class="col-sm-1 control-label ">City:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="text" #city='ngModel' name="city" [(ngModel)]="form.data.city" class="form-control" id="city" placeholder="Enter City">
            <span class="alertRedColor"> {{form.inputerror.city}} </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="default" class="col-sm-1 control-label ">State:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="text" #state='ngModel' name="state" [(ngModel)]="form.data.state" class="form-control" id="state" placeholder="Enter State">
            <span class="alertRedColor"> {{form.inputerror.state}} </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="default" class="col-sm-1 control-label ">Phone No.:
            <span class="required-field"></span>
          </label>
          <div class="col-sm-3">
            <input type="text" #phnNo='ngModel' name="phnNo" [(ngModel)]="form.data.phoneNo" class="form-control" id="phnNo" placeholder="Enter Phone No.">
            <span class="alertRedColor"> {{form.inputerror.phoneNo}} </span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-1">
            <button (click)="submit()" [disabled]="!validate()" class="btn btn-success mr-2">
              Save</button>
          </div>
          <div class="col-sm-1">
            <button (click)="forward('/collegelist')" type="button" class="btn btn-primary mr-1">List
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>



<!-- <div>
  <H1>College</H1>
  <div *ngIf="form.error" style="color:red;"> {{form.message}}</div>
  <div *ngIf="!form.error" style="color:green;"> {{form.message}}</div>
  <form>
    Name: *
    <input name="name" type="text" [(ngModel)]="form.data.name">
    <span style="color: red"> {{form.inputerror.name}} </span>
    <br> Address: *
    <input name="address" type="text" [(ngModel)]="form.data.address">
    <span style="color: red"> {{form.inputerror.address}} </span>
    <br> City: *
    <input name="city" type="text" [(ngModel)]="form.data.city">
    <span style="color: red"> {{form.inputerror.city}} </span>
    <br> State: *
    <input name="state" type="text" [(ngModel)]="form.data.state">
    <span style="color: red"> {{form.inputerror.state}} </span>
    <br> Phone: *
    <input name="phoneNo" type="text" [(ngModel)]="form.data.phoneNo">
    <span style="color: rgb(53, 51, 51)"> {{form.inputerror.phoneNo}} </span>
    <br>
    <button (click)="submit()" [disabled]="!validate()">Save</button>
    <button (click)="forward('/collegelist')">List</button>
  </form>
</div> -->